<h2>Edit departure</h2>

<%= render "form.html", changeset: @changeset,
                        action: departure_path(@conn, :update, @departure) %>

<%= link "Back", to: departure_path(@conn, :admin) %>
