/* This file is for your main application css. */

.container {
	width:100%;
	max-width:none;
}

main {
	width:75%;
	margin:0 auto;
}

@media (max-width:767px) {
	main {
		width:100%;
	}
}

main > h2 {
	text-align:center;
}

table .wide {
	width:35%;
}