/* This file is for your main application css. */

.container {
	width:100%;
	max-width:none;
}

main {
	width:75%;
	margin:0 auto;
}

@media (max-width:767px) {
	main {
		width:100%;
		font-size:12px;
	}
}

header {
	text-align:center;
}

#current_datetime {
	text-align:center;
}

table {
	text-align:left;
}

table .destination {
	width:35%;
	font-weight:bold;
}